################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Appota/obj/Debug/net7.0/Appota.AssemblyInfo.cs
/Appota/obj/Debug/net7.0/Appota.AssemblyInfoInputs.cache
