@using Microsoft.AspNetCore.Mvc.Rendering;

@model List<Rates>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Quy đổi tiền tệ</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên loại ngoại tệ
                        </th>
                        <th>
                            Mã ngoại tệ
                        </th>
                        <th>
                            Tiền quy đổi (VNĐ)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rates in Model)
                    {
                        <tr>
                            <td>@rates.CurrencyName</td>
                            <td>@rates.CurrencyCode</td>
                            <td>@rates.Transfer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
